body {
    margin: 0;
    padding: 0;
}

p, input{
    text-align: center;
    font-size: 24px;
}

.title {
    color: blue;
    text-align: center;
}
.cards {
    margin: 20px;
    padding: 20px;
    border: 2px solid #444;
    border-radius: 8px;
    box-shadow: 0 2px 3px green;
}

.cards2 {
    margin: 20px;
    padding: 20px;
    border: 2px solid #444;
    border-radius: 4px;
    box-shadow: 0 2px 3px yellow;
}

.links {
    text-align: center;
}

.text-center {
    text-align: center;
}

.forms {
    margin: 5px;
    padding: 5px;
    border: 2px solid #444;
    border-radius: 10px;
    box-shadow: 0 4px 7px #444;
}